<!doctype html>
<head>
    <title>alviro</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>

<body>
    <div id="homebanner">
        <div id="logo" class="logo" alt="logo">
        </div>
        <div class="subtitle">
            alex@alviro.com
        </div>
    </div>

    <div class="container">
        <div id="filmstrip">
        </div>

        <ul class="homenav">
            <li>exhibit design and engineering
                <div class="info">using systems such as OCTANORM, AGAM, Delta Matrix, etc...
                </div>
            </li>
            <li>rendering and graphic design
                <div class="info">photorealistic renderings and high resolution graphics</div>
            </li>
            <li>detail
                <div class="info">detailed engineering drawings and bill of materials</div>
            </li>
            <li>
                <a href="/gallery">our gallery</a>
                <div class="info">
                    view the exhibit gallery to see our work
                </div>
            </li>
        </ul>
    </div>

    <ul id="sidenav" class="sidenav">
    </ul>

    <div id="gallery" class="images">
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <!--[if IE]>
    <script src="/js/history.js"></script>
    <script src="/js/event.js"></script>
    <script src="/js/array.js"></script>
    <![endif]-->
    <script src="/js/app.js"></script>
</body>
